{% load static %}

<div class="container-fluid py-5">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-5">
                    <img class="img-fluid rounded mb-5 mb-lg-0" src="{% static 'club/img/about-1.jpg' %}" alt="">
                </div>
                <div class="col-lg-7">
                    <p class="section-title pr-5"><span class="pr-2">Learn About Us</span></p>
                    <h1 class="mb-4">Remians Art Club</h1>
                    <p>There are generally three distinct varieties of art clubs: Visual Arts Clubs, Performing Arts Clubs and Art Appreciation Clubs.</p>
                    <div class="row pt-2 pb-4">
                        <div class="col-6 col-md-4">
                            <img class="img-fluid rounded" src="{% static 'club/img/about-2.jpg' %}" alt="">
                        </div>
                        <div class="col-6 col-md-8">
                            <ul class="list-inline m-0">
                                <li class="py-2 border-top border-bottom"><i class="fa fa-check text-primary mr-3"></i>All Kind of Arts</li>
                                <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Crafts</li>
                                <li class="py-2 border-bottom"><i class="fa fa-check text-primary mr-3"></i>Many more</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>